@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-hover: rgba(255, 255, 255, 0.103);
    --bg-tab-active: #c3d6f144;
    --bg-circle: rgba(0, 0, 0, 0.041);

    --border-sidebar: rgba(0, 0, 0, 0.116);
    --text-color: #3e465b;
}
body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Roboto MoNo', 'Segoe UI', monospace;
}

/* START GLOBAL */
.btn-circle {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-circle);
    border-radius: 50%;
    cursor: pointer;
    i {
        font-size: 17px;
        line-height: 66%;
    }
}
ul,
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
input:focus {
    outline: none;
}
.is-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* END GLOBAL */

/* START HEADER BAR */
.header-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    border: 1px solid var(--border-sidebar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 45px;
    .header-brand {
        width: 280px;
        height: 100%;
        display: flex;
        align-items: center;
        background: url('/img/brand/logo-light.svg') 10%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .search-header {
        width: 30%;
        height: 100%;
        padding: 10px 0px;
        .search {
            width: 100%;
            max-width: 440px;
            position: relative;
            .container_search {
                width: 100%;
                position: relative;
                border-radius: 99px;
                border: 1px solid var(--border-sidebar);
                background-color: white;
                .btn_search {
                    height: 30px;
                    width: 40px;
                    background: none;
                    border: none;
                    i {
                        font-size: 15px;
                        line-height: 66%;
                    }
                }
                .btn_search:hover i {
                    color: rgb(37, 31, 31);
                    transition: 0.4s linear;
                }
                .input_warapper {
                    position: absolute;
                    top: 0px;
                    left: 40px;
                    right: 10px;
                    bottom: 0px;
                    input {
                        margin: 0;
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        color: var(--text-color);
                        background-clip: padding-box;
                        border: 0;
                        position: relative;
                        top: 2px;
                        height: 20px;
                        padding: 5px 0;
                        line-height: 34px;
                    }
                }
            }
        }
    }
    .level-right {
        display: flex;
        align-items: center;
        justify-content: end;
        .btn-circle {
            margin-right: 10px;
        }
        .user-avatar {
            background: url(../img/user/user.jpg);
            background-size: cover;
        }
    }
    .level-right:nth-last-child(1) {
        margin-right: 0;
    }
}
/* END HEADER BAR */

.wrapper-content {
    height: calc(100% - 50px);
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.main-page {
    width: 100%;
    overflow-y: scroll;
}

/* START NAVBAR */

.side-bar {
    border-right: 1px solid var(--border-sidebar);
    width: 280px;
    height: 100%;
    padding: 10px 10px;
    position: relative;

    .list-item {
        width: 100%;
        position: relative;
        overflow-y: scroll;
        list-style-type: none;
        .item-navbar.active {
            background-color: var(--bg-tab-active);
        }
        .item-navbar:hover {
            background-color: var(--bg-tab-active);
            transition: 0.4s linear;
        }
        .item-navbar {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            padding: 5px;
            display: flex;

            .level-left {
                width: 20%;
                height: 100%;
                position: relative;

                i {
                    font-size: 15px;
                    line-height: 66%;
                }
            }
            .level-right {
                width: 80%;
                display: flex;
                align-items: center;

                .name-tab {
                    font-size: 14px;
                    color: var(--text-color);
                }
            }
        }
    }
    .list-item::-webkit-scrollbar {
        display: none;
    }
    .btn-reposive {
        position: absolute;
        bottom: 0;
        height: 10%;
        width: 90%;
        padding: 5px;
        border-top: 1px solid var(--border-sidebar);
        cursor: pointer;
        justify-content: flex-start;
        .level-left {
            width: 20%;
            height: 100%;
            position: relative;
            i {
                font-size: 17px;
                line-height: 66%;
            }
        }
        .coplap-view {
            font-size: 14px;
            color: var(--text-color);
        }
    }
}
/* START NAVBAR */
