@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --bg-hover: rgba(255, 255, 255, 0.103);
  --bg-tab-active: #c3d6f144;
  --bg-circle:rgba(0, 0, 0, 0.041);
  --border-sidebar:rgba(0, 0, 0, 0.116);
  --text-color: #3e465b; }

body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: "Roboto MoNo",'Segoe UI', monospace; }

/* START GLOBAL */
.btn-circle {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-circle);
  border-radius: 50%;
  cursor: pointer; }
  .btn-circle i {
    font-size: 17px;
    line-height: 66%; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: var(--text-color); }

input:focus {
  outline: none; }

.is-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

/* END GLOBAL */
/* START HEADER BAR */
.header-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  border: 1px solid var(--border-sidebar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 45px; }
  .header-bar .header-brand {
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    background: url("/img/brand/logo-light.svg") 10%;
    background-size: contain;
    background-repeat: no-repeat; }
  .header-bar .search-header {
    width: 30%;
    height: 100%;
    padding: 10px 0px; }
    .header-bar .search-header .search {
      width: 100%;
      max-width: 440px;
      position: relative; }
      .header-bar .search-header .search .container_search {
        width: 100%;
        position: relative;
        border-radius: 99px;
        border: 1px solid var(--border-sidebar);
        background-color: white; }
        .header-bar .search-header .search .container_search .btn_search {
          height: 30px;
          width: 40px;
          background: none;
          border: none; }
          .header-bar .search-header .search .container_search .btn_search i {
            font-size: 15px;
            line-height: 66%; }
        .header-bar .search-header .search .container_search .btn_search:hover i {
          color: #251f1f;
          transition: .4s linear; }
        .header-bar .search-header .search .container_search .input_warapper {
          position: absolute;
          top: 0px;
          left: 40px;
          right: 10px;
          bottom: 0px; }
          .header-bar .search-header .search .container_search .input_warapper input {
            margin: 0;
            display: inline-block;
            width: 100%;
            font-size: 14px;
            color: var(--text-color);
            background-clip: padding-box;
            border: 0;
            position: relative;
            top: 2px;
            height: 20px;
            padding: 5px 0;
            line-height: 34px; }
  .header-bar .level-right {
    display: flex;
    align-items: center;
    justify-content: end; }
    .header-bar .level-right .btn-circle {
      margin-right: 10px; }
    .header-bar .level-right .user-avatar {
      background: url(../img/user/user.jpg);
      background-size: cover; }
  .header-bar .level-right:nth-last-child(1) {
    margin-right: 0; }

/* END HEADER BAR */
.wrapper-content {
  height: calc(100% - 50px);
  margin-top: 50px;
  display: flex;
  width: 100%; }

.main-page {
  width: 100%;
  overflow-y: scroll; }

/* START NAVBAR */
.side-bar {
  border-right: 1px solid var(--border-sidebar);
  width: 280px;
  height: 100%;
  padding: 10px 10px;
  position: relative; }
  .side-bar .list-item {
    width: 100%;
    position: relative;
    overflow-y: scroll;
    list-style-type: none; }
    .side-bar .list-item .item-navbar.active {
      background-color: var(--bg-tab-active); }
    .side-bar .list-item .item-navbar:hover {
      background-color: var(--bg-tab-active);
      transition: .4s linear; }
    .side-bar .list-item .item-navbar {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      padding: 5px;
      display: flex; }
      .side-bar .list-item .item-navbar .level-left {
        width: 20%;
        height: 100%;
        position: relative; }
        .side-bar .list-item .item-navbar .level-left i {
          font-size: 15px;
          line-height: 66%; }
      .side-bar .list-item .item-navbar .level-right {
        width: 80%;
        display: flex;
        align-items: center; }
        .side-bar .list-item .item-navbar .level-right .name-tab {
          font-size: 14px;
          color: var(--text-color); }
  .side-bar .list-item::-webkit-scrollbar {
    display: none; }
  .side-bar .btn-reposive {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 90%;
    padding: 5px;
    border-top: 1px solid var(--border-sidebar);
    cursor: pointer;
    justify-content: flex-start; }
    .side-bar .btn-reposive .level-left {
      width: 20%;
      height: 100%;
      position: relative; }
      .side-bar .btn-reposive .level-left i {
        font-size: 17px;
        line-height: 66%; }
    .side-bar .btn-reposive .coplap-view {
      font-size: 14px;
      color: var(--text-color); }

/* START NAVBAR */
