<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên bài hát</th>
      <th scope="col">Ca sĩ</th>
    </tr>
  </thead>
  <tbody>
    {{#each albums}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td><img src="{{this.img}}" alt="" srcset=""></td>
        </tr>
    {{/each}}
  </tbody>
</table>
