<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Singer Name</th>
      <th scope="col">Birth</th>
      <th scope="col">Stage Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each singers}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.birth}}</td>
            <td>{{this.stagename}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
